<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/index :: cssfiles"></div>
    <title th:replace="fragments/index :: title"></title>
</head>
<body>

    <nav th:replace="fragments/index :: navbar" > </nav>
    <a th:href="@{/book/new}">
        <button type="button" class="btn btn-primary btn-lg" style="margin:30px">
            Adauga Carte
            <i class="fa fa-plus"></i>
        </button>
    </a>

    <form style="margin-left:30px; margin-right:30px">
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="book-title" placeholder="Titlu">
            </div>
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="book-author" placeholder="Autor">
            </div>
            <div class="col-sm-2 my-1">
                <input type="text" class="form-control" id="publishing-year" placeholder="An aparitie">
            </div>
            <div class="col-auto my-1">
             <p style="margin-bottom: 0px">Ordoneaza: </p>
            </div>
            <div class="col-auto my-1">
                <select class="form-control mr-sm-2" id="order-by">
                    <option selected value="1">Titlu</option>
                    <option value="2">Autor</option>
                    <option value="3">An aparitie</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <select class="form-control mr-sm-2" id="order-direction">
                    <option selected value="1">Asc</option>
                    <option value="2">Desc</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-dark">Cauta</button>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-4" id="card-book-container">
        <div  th:each="book: ${booksList}" class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/book/files/{id}(id = ${book.imagePath})}" class="card-img-top" alt="..."/>
                <div class="card-body card-book-details">
                    <h4 class="card-title" th:text="${book.title}"></h4>
                    <h5 th:text="${book.author}"></h5>
                    <p th:text="${book.year}"></p>
                </div>
                <div class="card-footer">
                   <a th:href="@{/book/{id}(id=${book.id})}">
                        <button type="button" class="btn btn-outline-info float-right">Vezi Detalii</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/index :: jsfiles"> </div>

</body>
</html>