<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/index :: cssfiles"></div>
    <title th:replace="fragments/index :: title"></title>
</head>
<body>

    <nav th:replace="fragments/index :: navbar" > </nav>
    <a th:href="@{/book/new}">
        <button type="button" class="btn btn-primary btn-lg" style="margin:30px">
            Adauga Carte
            <i class="fa fa-plus"></i>
        </button>
    </a>

    <form style="margin-left:30px; margin-right:30px" action="#" th:action="@{/book/all}" method="get">
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="book-title" placeholder="Titlu" name="title">
            </div>
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="book-author" placeholder="Autor" name="author">
            </div>
            <div class="col-sm-2 my-1">
                <input type="text" class="form-control" id="publishing-year" placeholder="An aparitie" name="year">
            </div>
            <div class="col-auto my-1">
             <p style="margin-bottom: 0px">Ordoneaza: </p>
            </div>
            <div class="col-auto my-1">
                <select class="form-control mr-sm-2" id="order-by">
                    <option selected value="1">Titlu</option>
                    <option value="2">Autor</option>
                    <option value="3">An aparitie</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <select class="form-control mr-sm-2" id="order-direction">
                    <option selected value="1">Asc</option>
                    <option value="2">Desc</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-dark">Cauta</button>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-4" id="card-book-container">
        <div  th:each="book: ${booksList}" class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/book/files/{id}(id = ${book.imagePath})}" class="card-img-top" alt="..."/>
                <div class="card-body card-book-details">
                    <h4 class="card-title" th:text="${book.title}"></h4>
                    <h5 th:text="${book.author}"></h5>
                    <p th:text="${book.year}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/book/view/{id}(id=${book.id})}">
                        <button type="button" class="btn btn-outline-info float-right">Vezi Detalii</button>
                    </a>
                    <a th:href="@{/book/edit/{id}(id=${book.id})}">
                        <button type="button" class="btn btn-outline-warning float-right" style="margin-right: 10px">Editeaza</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-center" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <p th:text="${queryStr}"></p>
            <li class="page-item" th:classappend="${isFirstPage} ? disabled : ''">
                <a class="page-link" tabindex="-1"
                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', {page - 1}).toUriString()}">Previous</a>
            </li>
            <li class="page-item" th:if="${not isFirstPage}">
                <a class="page-link" th:text="${page - 1}"
                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', {page - 1}).toUriString()}"></a>
            </li>
            <li class="page-item active">
                <a class="page-link" th:text="${page}"
                   th:href="${urlBuilder.fromCurrentRequest().toUriString()}"></a>
            </li>
            <li class="page-item" th:if="${not isLastPage}">
                <a class="page-link" th:text="${page + 1}"
                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', {page + 1}).toUriString()}"></a>
            </li>
            <li class="page-item" th:classappend="${isLastPage} ? disabled : ''">
                <a class="page-link"
                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', {page + 1}).toUriString()}">Next</a>
            </li>
        </ul>
    </nav>

    <div th:replace="fragments/index :: jsfiles"> </div>

</body>
</html>