<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/index :: cssfiles"></div>
    <link rel="stylesheet" th:href="@{/css/books.css} "/>

    <title th:replace="fragments/index :: title"></title>

</head>
<body>

    <nav th:replace="fragments/index :: navbar" > </nav>

    <button type="button" class="btn btn-primary btn-lg" style="margin:30px">
        Adauga Carte
        <i class="fa fa-plus"></i>
    </button>

    <form style="margin-left:30px; margin-right:30px">
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="book-title" placeholder="Titlu">
            </div>
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="book-author" placeholder="Autor">
            </div>
            <div class="col-sm-2 my-1">
                <input type="text" class="form-control" id="publishing-year" placeholder="An aparitie">
            </div>
            <div class="col-auto my-1">
             <p style="margin-bottom: 0px">Ordoneaza: </p>
            </div>
            <div class="col-auto my-1">
                <select class="form-control mr-sm-2" id="order-by">
                    <option selected value="1">Titlu</option>
                    <option value="2">Autor</option>
                    <option value="3">An aparitie</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <select class="form-control mr-sm-2" id="order-direction">
                    <option selected value="1">Asc</option>
                    <option value="2">Desc</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-dark">Cauta</button>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-4" id="card-book-container">
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test1.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-info float-right">Vezi Detalii</button>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test2.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Morometii</h4>
                    <h5>Marin Preda</h5>
                    <p>(1955)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test2.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Morometii</h4>
                    <h5>Marin Preda</h5>
                    <p>(1955)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test3.png}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test3.png}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test2.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test2.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test2.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 card-book">
                <img th:src="@{/images/test1.jpeg}" class="card-img-top" alt="...">
                <div class="card-body card-book-details">
                    <h4 class="card-title">Fratii Karamazov</h4>
                    <h5>Dostoievsky</h5>
                    <p>(1900)</p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/index :: jsfiles"> </div>

</body>
</html>