<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/index :: cssfiles"></div>
    <title th:replace="fragments/index :: title"></title>
</head>
<body>
    <nav th:replace="fragments/index :: navbar" > </nav>

    <h1>Book details</h1>

    <div th:replace="fragments/index :: jsfiles"> </div>
</body>
</html>