<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/index :: cssfiles"></div>
    <title th:replace="fragments/index :: title"></title>
</head>
<body>

<nav th:replace="fragments/index :: navbar" > </nav>

<div class="container h-100" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">

            <div th:if="${param.success}">
                <div class="alert alert-info">Te-ai inregistrat cu success!</div>
            </div>

            <h1>Creaza cont nou</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post">
                <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>

                <div class="form-group">
                    <label for="firstName" class="control-label">Prenume</label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label">Nume</label>
                    <input id="lastName" class="form-control" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input id="email" class="form-control" th:field="*{email}" th:classappend="${#fields.hasErrors('email')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="confirmEmail" class="control-label">Confirma email</label>
                    <input id="confirmEmail" class="form-control" th:field="*{confirmEmail}" th:classappend="${#fields.hasErrors('confirmEmail')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Parola</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label">Confirma parola</label>
                    <input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="confirmEmail" class="control-label">CNP</label>
                    <input id="CNP" class="form-control" th:field="*{CNP}" th:classappend="${#fields.hasErrors('CNP')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('CNP')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label">Telefon</label>
                    <input id="phone" class="form-control" th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('phone')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="address" class="control-label">Adresa</label>
                    <input id="address" class="form-control" th:field="*{address}" th:classappend="${#fields.hasErrors('address')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error : ${#fields.errors('phone')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Inscrie-te</button>
                    <span>Ai deja cont? <a href="/" th:href="@{/login}">Logheaza-te aici</a></span>
                </div>
            </form>
        </div>
    </div>
</div>



    <div th:replace="fragments/index :: jsfiles"> </div>
</body>
</html>