<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/index :: cssfiles"></div>
    <title th:replace="fragments/index :: title"></title>
</head>
<body>
<nav th:replace="fragments/index :: navbar" > </nav>

<div th:if="${param.editSuccess}">
    <div class="alert alert-info" style="margin: 10px 50px">User-ul a fost editat cu success</div>
</div>

<div class="container h-100" style="margin-top: 30px; margin-bottom: 30px">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form action="#" th:action="@{${redirectMyProfile} ? '/myprofile/edit/' : '/user/edit/{id}(id=${user.id})' }" th:object="${user}" method="post">
                <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>
                <div class="form-group" sec:authorize="hasRole('ADMIN')">
                    <label for="id">ID User</label>
                    <input class="form-control disabled-form-input" th:field="*{id}" id="id" readonly/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control disabled-form-input" th:field="*{email}" id="email" th:classappend="${#fields.hasErrors('email')}? 'is-invalid':''" readonly/>
                    <p class="error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="lastName">Nume</label>
                    <input type="text" class="form-control" th:field="*{lastName}" id="lastName" th:classappend="${#fields.hasErrors('lastName')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error: ${#fields.errors('lastName')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="firstName">Prenume</label>
                    <input type="text" class="form-control" th:field="*{firstName}" id="firstName" th:classappend="${#fields.hasErrors('firstName')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="phone">Telefon</label>
                    <input class="form-control" th:field="*{phone}" id="phone" th:classappend="${#fields.hasErrors('phone')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error: ${#fields.errors('phone')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input type="text" class="form-control" th:field="*{address}" id="address" th:classappend="${#fields.hasErrors('address')}? 'is-invalid':''"/>
                    <p class="error-message" th:each="error: ${#fields.errors('address')}" th:text="${error}"></p>
                </div>
                <div class="form-group" sec:authorize="hasRole('ADMIN')">
                    <label for="address">Rol</label>
                    <select class="form-control mr-sm-2" id="role" name="role">
                        <option th:selected="${#lists.contains(rolesStr, 'ROLE_USER')}" value="ROLE_USER">Utilizator</option>
                        <option th:selected="${#lists.contains(rolesStr, 'ROLE_LIBRARIAN')}" value="ROLE_LIBRARIAN">Bibliotecar</option>
                        <option th:selected="${#lists.contains(rolesStr, 'ROLE_ADMIN')}" value="ROLE_ADMIN">Administator</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Salveaza</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/index :: jsfiles"> </div>
</body>
</html>